extends ../layout/_layout
block title
    - var pageTitle = 'Markup';
    - var subTitle = 'HTML5';
    -
        var data = {
            'New usages': 'new-usages',
            'Other': 'other'
        };
block sidebarMenu
    h2.menu__title= subTitle
    ul.menu__list
        each url, name in data
            li.menu__item: a(href=`#${url}`)= name
block content
    h2.title= `${pageTitle}: ${subTitle}`
    section.content
        h3.content__title(id=data['New usages']) New usages
        p #[a(href='http://html5doctor.com/i-b-em-strong-element/') The i, b, em, &amp; strong elements]
    section.content
        h3.content__title(id=data['Other']) Other
        ul
            li #[a(href='https://www.youtube.com/watch?v=ssJsjGZE2sc') Людоедский интерфейс] must watch!
