extends ../layout/_layout
block title
    - var pageTitle = 'Markup';
    - var subTitle = 'Razor';
    -
        var data = {
            'Tips': 'tips'
        };
block sidebarMenu
    h2.menu__title= subTitle
    ul.menu__list
        each url, name in data
            li.menu__item: a(href=`#${url}`)= name
block content
    h2.title= `${pageTitle}: ${subTitle}`
    section.content
        h3.content__title(id=data['Tips']) Tips
        ul
            li One of suitable ways to include svg into .cshtml #[code @Html.Raw(File.ReadAllText(Server.MapPath("~/Shared/svg/_iLock.html")))]