extends ../layout/_layout
block title
    - var pageTitle = 'Markup';
    - var subTitle = 'Decoration';
    -
        var data = {
            'Gradients': 'gradients'
        };
block sidebarMenu
    h2.menu__title= subTitle
    ul.menu__list
        each url, name in data
            li.menu__item: a(href=`#${url}`)= name
block content
    h2.title= `${pageTitle}: ${subTitle}`
    section.content
        h3.content__title(id=data['Gradients']) Gradients
        h4.content__sub-title Tips
        ul
            li Color-stop marks the richest color point. #[code red: 10%, yellow: 40%]
