extends ../layout/_layout
block title
    - var pageTitle = 'Markup';
    - var subTitle = 'Layout';
    -
        var data = {
            'Tips': 'tips',
            'Flexbox': 'flexbox',
            'Float': 'float'
        };
block sidebarMenu
    h2.menu__title= subTitle
    ul.menu__list
        each url, name in data
            li.menu__item: a(href=`#${url}`)= name
block content
    h2.title= `${pageTitle}: ${subTitle}`
    section.content
        h3.content__title(id=data['Tips']) Tips
        ul
            li Для сеток используются grid и flex (float устарели, но иногда приходится поддерживать)
            li Flex также используется для интерфейсных элементов (в формах, например)
            li Вертикальные margin схлопываются (кроме flex)
            li Container - for sizes, settings
            li Wrapper - only for backgrounds
            li Add #[code min-width] to main blocks (header, footer, main, container) for content not to be cut on scroll or resize
            li Place popups before scripts at the end of a html, place overlay block next to popup
    section.content
        h3.content__title(id=data['Flexbox']) Flexbox
        ul
            li Вертикальные margin не схлопываются, поэтому лучше не использовать для оформления больших текстовых блоков
            li Лучше всегда явно задавать ширину, иначе результат может быть неожиданным
            li #[a(href='https://css-tricks.com/snippets/css/a-guide-to-flexbox/') A Complete Guide to Flexbox]
            li #[a(href='https://github.com/philipwalton/flexbugs#flexbugs') Flexbugs]
    section.content
        h3.content__title(id=data['Float']) Float
        ul
            li Не забываем про частичное выпадание из потока флоатов (родитель схлопывается)
            li Задавать фиксированную ширину флоатам, иначе при переполнении контентом толкают друг друга на другую строку